*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* color: #333; */
  /* font-weight: 300; */
  line-height: 1.6;
}

img {
  max-width: 100%; /* make all images responsive */
}

.container {
  width: 60%;
  margin: 2rem auto;
  position: relative; /* to contain .details and .search-results modals within */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-auto-rows: 5vw;
  grid-gap: 1.5rem;
  font-size: small;
  color: white;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

/* .gallery__item--1 img {
} */

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--7 {
  grid-column: 1 / span 2;
  grid-row: 9 / span 2;
}

.gallery__item--1 img {
}

.gallery__item--8 {
  grid-column: 3 / span 2;
  grid-row: 9 / span 2;
}

.gallery__item--9 {
  grid-column: 5 / span 4;
  grid-row: 9 / span 5;
}

.gallery__item--10 {
  grid-column: 1 / span 4;
  grid-row: 11 / span 3;
}

.gallery__item--11 {
  grid-column: 1 / span 4;
  grid-row: 14 / span 3;
}

.gallery__item--12 {
  grid-column: 5 / span 4;
  grid-row: 14 / span 3;
}

.gallery__item--13 {
  grid-column: 1 / span 2;
  grid-row: 17 / span 2;
}

.gallery__item--1 img {
}

.gallery__item--14 {
  grid-column: 3 / span 2;
  grid-row: 17 / span 2;
}

.gallery__item--15 {
  grid-column: 5 / span 4;
  grid-row: 17 / span 5;
}

.gallery__item--16 {
  grid-column: 1 / span 4;
  grid-row: 19 / span 3;
}

.gallery__item--17 {
  grid-column: 1 / span 4;
  grid-row: 22 / span 3;
}

.gallery__item--18 {
  grid-column: 5 / span 4;
  grid-row: 22 / span 3;
}

.gallery > * {
  position: relative;
}

.gallery figcaption {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* keep inner text aligned to base */
  flex-direction: column;
  justify-content: flex-end;
}

/**
 *  Header section
 */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header :first-child {
  font-size: small;
}
header .class-set {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header .yearbook {
  font-family: brushscript;
}

/**
 *  Footer section
 */

footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
}

/**
 *  Single person's page
 */

.details,
.search-results {
  position: absolute;
  width: 100%;
}

.details .close {
  position: absolute;
  right: 0.5em;
  top: 0;
  font-size: 2em;
}

.details .name {
  text-align: center;
  font-size: 1.5em;
}

.details .img {
  height: 33vh;
  overflow: hidden;
  position: relative; /* to easily reposition the image within it */
}

.details .img img {
  position: absolute;
}

.details .bio {
  font-weight: bold;
}

.details .bio span {
  font-weight: normal;
  letter-spacing: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/**
 *  Search Results view
 */

.search-results {
  padding-bottom: 4em; /* give the footer some clearance */
  list-style: none;
}

.search-results .home-button {
  position: absolute;
  top: -2em;
  right: 2em;
  filter: grayscale(100%); /* convert the coloured unicode icon to gray */
}

.search-results li {
  height: 4.5em;
  overflow: hidden;
  border-radius: 1em;
  display: flex;
  margin-bottom: 1em;
  border: 1px solid black;
}

.search-results li .icon {
  flex-basis: 30%;
  border-right: 1px solid black;
}

.search-results li .details {
  padding-left: calc(30% + 1em);
}

.search-results li .details span {
  display: block; /* display name and nickname on different lines */
  text-align: left;
}
/* FOR TESTING REMOVE LATER */
.gallery {
  display: none;
}
